<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/c633fbfc2f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">


</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar" class="active">
            <h1><a href="/admin" class="logo">Logo</a></h1>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a href="/admin/infos"><span class="fa fa-user"></span> Admin</a>
                </li>
                <li>
                    <a href="/admin/articles"><span class="fa fa-newspaper"></span> Articles</a>
                </li>
                <li>
                    <a href="/admin/ateliers"><span class="fa fa-briefcase"></span> Ateliers</a>
                </li>
                <li>
                    <a href="/admin/comments"><span class="fa fa-comments"></span> Commentaires</a>
                </li>
                <li>
                    <a href="/admin/mutuelles"><span class="fa fa-user-md"></span> Mutuelles</a>
                </li>
                <li>
                    <a href="/admin/members"><span class="fa fa-users"></span> Membres</a>
                </li>
                <li>
                    <a href="/admin"><span class="fa fa-sign-out-alt"></span> Logout</a>
                </li>
            </ul>


        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-dark">
                <div class="container-fluid" style="display: flex; align-content: center;">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only"></span>
                    </button>

                    <div class="welcome" style="margin: 0 350px;">
                        <h1 style="color: #fff;"> Administration</h1>
                    </div>
                    
                    <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-bars"></i>
                    </button>
                    
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="nav navbar-nav ml-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#" style="color:#fff;">aromatelier.fr</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>

        </div>
    </div>