<%- include('../partials/admin_partials/admin_header')-%>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2>Vos informations</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card" style="width: 18rem;">
                <img src="/images/logo.jpg" alt="logo_aromatelier">
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">

                <div class="card-body">
                    <h5 class="card-title">Aromatelier</h5>
                    <p class="card-text">Prénom : </p>
                    <p class="card-text">Nom : </p>
                    <p class="card-text">Email : </p>
                    <p class="card-text">Password : </p>
                    <p class="card-text">Adresse : </p>
                    <p class="card-text">Téléphone : </p>
                    <p class="card-text">Facebook : </p>
                    <a href="/admin/infos/edit_infos" class="btn btn-primary"><i class="fas fa-user-edit"></i> Modifier le profile</a>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('../partials/admin_partials/admin_footer')-%>